.title {
    align-self: center;
    font-size: 42px;
}

.menu-button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
